= semantic_form_for @feed, :validate => true, :html => { :multipart => :true } do |f|
  - f.inputs do
    = f.input :title
    = f.input :feed_url
    =# f.input :category, :as => :select, :collection => Category.where({:category_type => 'F'})
    = f.input :logo, :as => :file
    = f.input :remote_logo_url
    = f.input :category_id, :as => :select, :collection => Category.all
    = f.input :detail
  = f.buttons
