.container_12
  .grid_3
    #sidebar
      .widget
        .advert
          %ul
            %li{:class => "left"}
              = link_to (image_tag @feed.logo.url), "#"
      .widget
        #feed_details
          %p
            Buraya feed detayları gelecek
        #feed_links
          %ul
            %li
              Website
            %li
              Twitter

  #archive.grid_7
    .grid_7.alpha.omega
      .breadcrumb
        = @feed.title
      .clear
    .grid_7.alpha.omega
      #posts.full_posts
        %ol
          = render :partial => "feedposts/categoried_post", :locals => { :feedposts => @feedposts }
        = paginate @feedposts, :remote => true, :theme => "show_more_theme"
    .grid_9.alpha.omega
      #related
        %h4
          %span
            Related Feeds
        - for rfeed in @relatedfeeds
          .column
            .image
              = link_to (image_tag rfeed.logo.url), feed_url(rfeed)
            %h3
              = link_to rfeed.title, feed_url(rfeed)
