.container_12
  .grid_8
    = render 'home/slider', :sliderposts => @sliderposts
    .grid_8.alpha.omega
      = render 'home/latest', :feedposts => @feedposts

    .grid_8.alpha.omega
      .grid_4.alpha                
        .category_list
          = [1..4].each do |group|
            %h4
              %span
                = link_to "Category #{group}", feeds_path
            %ul
              - for grecent in @feedposts
                %li
                  .image
                    = image_tag "category_pic.jpg", :class => "img-load"
                  .details
                    %h5
                      = link_to (sanitize grecent.title), feedpost_path(grecent)
  .grid_4
    #sidebar
      .widget
        = form_tag search_sites_path, :id => "search-form", :method => 'get' do
          %span.glass
            %i
          = text_field_tag :searchfield, params[:searchfield]
      .widget
        .tabs
          .tab_wrap
            %ul.nav
              %li= link_to "Popular", "#tabs-1"
              %li= link_to "Recent", "#tabs-2"
              %li= link_to "Read", "#tabs-3"
              %li= link_to "Follow", "#tabs-4"

            #tabs-1.tab
              %ul
                - for rp in @feedposts
                  %li
                    .image
                      = image_tag rp.feed.logo.url, :class => "img-load", :width => 45, :height => 45
                    .details
                      %h5
                        = link_to (sanitize rp.title), feedpost_path(rp)
                      %span.date= rp.published.strftime("%m/%d/%Y")
            #tabs-2.tab
              %ul
                - for pp in @feedposts
                  %li
                    .image
                      = image_tag pp.feed.logo.url, :class => "img-load", :width => 45, :height => 45
                    .details
                      %h5
                        = link_to pp.title, feedpost_path(pp)
                      %span.date= pp.published                                   
            #tabs-3.tab
              %ul
                - for rr in @feedposts
                  %li
                    .image
                      = image_tag rr.feed.logo.url, :class => "img-load", :width => 45, :height => 45
                    .details
                      %h5
                        = link_to (sanitize rr.title), feedpost_path(rr)
                      %span.date= rr.published
            #tabs-4.tab
              %ul
                = render :partial => "feeds/categoried_feed", :locals => { :feeds => @newfeeds }
      .widget
        %h4
          %span
  .clear
