%li
  .image
    = image_tag feedpost.feed.logo.url, :class => "img-load", :size => "45x45"
  .details
    %h5
      = link_to (sanitize feedpost.title), feedpost_path(feedpost)
    %p
      = sanitize feedpost.summary
    %span.date
      - unless feedpost.author.nil?
        = feedpost.author
      = link_to feedpost.feed.title, feed_path(feedpost.feed)
      = feedpost.published.strftime("%m/%d/%Y")
