.container_12
  #archive.grid_8
    .grid_8.alpha.omega
      .breadcrumb
        = link_to "Home", root_url
        = link_to "World News", feed_url(@feedpost.feed)
        = sanitize @feedpost.title
      .description
        %h1= sanitize @feedpost.title
      .meta
        Written by #{@feedpost.author}, on #{@feedpost.published}, about #{@feedpost.categories}
      .clear
    .grid_8.alpha.omega
      #content.alignleft
        = sanitize @feedpost.content         
        .clear
    .grid_8.alpha.omega
      #author
    .grid_8.alpha.omega
      #related
        - unless @relatedfeeds.nil?
          %h4
            %span Related Posts
          - @relatedfeeds.each_with_index do |rfeed, index|
            .column{:class => ("last" if index == 3)}
              .image
                - if not rfeed.images.nil? 
                  = link_to (image_tag rfeed.images[0], :width => 100, :height => 100), feedpost_url(rfeed)
                - else
                  = image_tag "post_column_pic.jpg", :class => "img-load", :width => 100, :height => 100
              %h3
                = link_to (sanitize rfeed.title), feedpost_url(rfeed)
  .grid_4
    #sidebar
      .widget
        #actions
      .widget
        .tabs
          .tab_wrap
            %ul.nav
              %li= link_to "Sub Links", "#tabs-1"
              %li= link_to "Recent", "#tabs-2"
              %li= link_to "Read", "#tabs-3"
              %li= link_to "Tags", "#tabs-4"
            #tabs-1.tab
              %ul
                = render :partial => "feedposts/sitefeed", :locals => { :sitefeeds => @postsites }
            #tabs-2.tab
              %ul
                
            #tabs-3.tab
              %ul
                
            #tabs-4.tab.tab_tags
              %ul
                - unless @feedpost.tags.nil?
                  = render :partial => "feedposts/tags", :locals => { :tags => @feedpost.tags }
      - unless @feedpost.videos.nil?
        .widget
          %h4
            %span Video
          .video
            = image_tag "video.jpg", :alt => "Video"
      
      .widget
        %h4
          %span Images
        - unless @feedpost.images.nil?
          .flickr          
            - @feedpost.images.each_with_index do |img, i|
              .img-load
                = link_to (image_tag "#{img.to_s}"), img.to_s
  .clear

