.post_columns
  %h4
    %span Latest Posts
  - feedposts.each_with_index do |recent, index|
    .column{:class => ("last" if (index+1)%3 == 0)}
      .image
        - if not recent.images.nil?
          = image_tag recent.images[0], :width => 184, :height => 144
        - else
          = image_tag "post_column_pic.jpg", :class => "img-load"
      %h3
        = link_to (sanitize recent.title), feedpost_path(recent)
      .date
        = link_to recent.feed.title, feed_url(recent.feed)
        /
        = recent.published.strftime("%m/%d/%Y")
      .excerpt
        = sanitize recent.title
