.container_12
  .grid_8
    = render 'home/slider', :sliderposts => @sliderposts
    .grid_8.alpha.omega
      = render 'home/latest', :feedposts => @feedposts
    .grid_8.alpha.omega
      .grid_4.alpha                
        .category_list
          = [1..4].each do |group|
            %h4
              %span
                = link_to "Category #{group}", feeds_path
            %ul
              - for grecent in @feedposts
                %li
                  .image
                    = image_tag "category_pic.jpg", :class => "img-load"
                  .details
                    %h5
                      = link_to (sanitize grecent.title), feedpost_path(grecent)
  .grid_4
    #sidebar
      .widget
        = render "search_form"
      .widget
        .tabs
          .tab_wrap
            %ul.nav
              %li= link_to "Popular", "#tabs-1"
              %li= link_to "Recent", "#tabs-2"
              %li= link_to "Read", "#tabs-3"
              %li= link_to "Follow", "#tabs-4"
            #tabs-1.tab
              %ul
                = render :partial => "feedposts/categoried_post", :locals => { :feedposts => @feedposts }
            #tabs-2.tab
              %ul
                = render :partial => "feedposts/categoried_post", :locals => { :feedposts => @feedposts }
            #tabs-3.tab
              %ul
                = render :partial => "feedposts/categoried_post", :locals => { :feedposts => @feedposts }
            #tabs-4.tab
              %ul
                = render :partial => "feeds/categoried_feed", :locals => { :feeds => @newfeeds }
      .widget
        %h4
          %span 

  .clear
