.container_12
  .grid_8
    = render 'home/slider', :sliderposts => @sliderposts
    .grid_8.alpha.omega
      = render 'home/latest', :feedposts => @feedposts
    .grid_8.alpha.omega
      = @categories.each_with_index do |cat, index|
        - if index < 2
          .grid_4{:class => ((index+1)%2 == 0) ? "omega last" : "alpha"}
            .category_list
              %h4
                %span
                  = link_to "#{cat.name}", category_path(cat)
              %ul
                - unless cat.homeposts.nil?
                  = render :partial => "feedposts/categoried_post", :locals => { :feedposts => cat.homeposts }
    .grid_8.alpha.omega
      = @categories.each_with_index do |cat, index|
        - if index > 1
          .grid_4{:class => ((index+1)%2 == 0) ? "omega last" : "alpha"}
            .category_list
              %h4
                %span
                  = link_to "#{cat.name}", category_path(cat)
              %ul
                - unless cat.homeposts.nil?
                  = render :partial => "feedposts/categoried_post", :locals => { :feedposts => cat.homeposts }

  .grid_4
    #sidebar
      .widget
        = render "search_form"
      .widget
        .tabs
          .tab_wrap
            %ul.nav
              %li= link_to "Popular", "#tabs-1"
              %li= link_to "Today", "#tabs-2"
              %li= link_to "Yesterday", "#tabs-3"
              %li= link_to "Last Added", "#tabs-4"
            #tabs-1.tab
              %ul
                = render :partial => "feedposts/categoried_post", :locals => { :feedposts => @feedposts }
            #tabs-2.tab
              %ul
                - unless @todayfeeds.nil?
                  = render :partial => "infograph", :locals => { :feeds => @todayfeeds, :day => 'today' }
            #tabs-3.tab
              %ul
                - unless @yesterdayfeeds.nil?
                  = render :partial => "infograph", :locals => { :feeds => @yesterdayfeeds, :day => 'yesterday' }
            #tabs-4.tab
              %ul
                = render :partial => "feeds/categoried_feed", :locals => { :feeds => @newfeeds }
      .widget
        %h4
          %span
      #feedtip
  .clear
