<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @category.desc %>
</p>

<h2>Comments</h2>
<%= render :partial => "channels/channel", :collection => @category.channels %>
 
<h2>Add a comment:</h2>
<%= render "channels/form" %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
