#top-bar-outer
  #top-bar-bg
  #top-bar
    .top-bar-inside
      .static-links
        #logo
          = link_to root_url
      .active-links
        #session.loggedin
          - if user_signed_in?
            Welcome 
            = current_user.email
            = link_to "Signout", destroy_user_session_path
          - else
            = link_to "Sign up", new_user_registration_path
            = link_to "Sign in", new_user_session_path


            %li
              = link_to "Add Site", "#", :class => "has-popupballoon button button-blue"
              .popupballoon.top
                %h5 Add new site
                = semantic_form_for Site.new, :remote => true, :validate => :true, :html => { :multipart => :true } do |f|
                  - f.inputs do
                    = f.input :website, :label => "Website"
                  = f.buttons do
                    = f.commit_button :button_html => { :class => "orange", :disable_with => 'Wait...' }
                    %li.cancel
                      = link_to "Cancel", "#", :class => "buttons gray close"
