%head{:xmlns => "http://www.w3.org/1999/xhtml","xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
  %meta{ :name => "description", :content => @meta_description }/
  %meta{ :name => "keywords", :content => @meta_keywords }/

  %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }/

  %title
    = @title || "Sites Camping, Join them :)"

  = stylesheet_link_tag 'style.css'
  =# stylesheet_link_tag 'faruk.css'
  =# stylesheet_link_tag 'green.css'
  =# stylesheet_link_tag 'superfish.css'
  =# stylesheet_link_tag 'prettyPhoto.css'
  =# stylesheet_link_tag 'jquery-ui-1.8.10.custom.css'
  =# stylesheet_link_tag 'coin-slider-styles.css'
  = stylesheet_link_tag 'farfar.css'
  = stylesheet_link_tag 'formtastic.css'
  = stylesheet_link_tag 'formtastic_changes.css'
  = stylesheet_link_tag 'facebox.css', :media => 'screen'
  = stylesheet_link_tag 'jquery.jgrowl.css'

  = javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.10.custom.min','application'
  = javascript_include_tag 'js/jquery.ui.core.js'
  = javascript_include_tag 'js/jquery.ui.widget.js'
  = javascript_include_tag 'js/jquery.ui.button.js'
  = javascript_include_tag 'jquery.livequery.js'
  = javascript_include_tag 'rails.validations.js'
  = javascript_include_tag 'facebox.js'
  = javascript_include_tag 'jquery.jgrowl.js'
  = javascript_include_tag 'superfish.js'
  = javascript_include_tag 'jquery.easing.1.3.js'
  = javascript_include_tag 'jquery.poshytip.min.js'
  = javascript_include_tag 'jquery.coda-slider-2.0.js'
  = javascript_include_tag 'custom.js'
  = javascript_include_tag 'rails.js'
  =# javascript_include_tag 'js/jquery-1.3.2.min.js'
  =# javascript_include_tag 'js/jquery.cycle.all.js'
  =# javascript_include_tag 'js/jquery.easing.js'
  =# javascript_include_tag 'js/jqFancyTransitions.js'
  =# javascript_include_tag 'js/coin-slider.js'
  =# javascript_include_tag 'js/ui.core.min.js'
  =# javascript_include_tag 'js/ui.tabs.min.js'
  =# javascript_include_tag 'js/jquery.prettyPhoto.js'
  =# javascript_include_tag 'js/superfish.js'
  =# javascript_include_tag 'js/cufon-yui.js'
  =# javascript_include_tag 'js/Delicious.font.js'
  =# javascript_include_tag 'js/jquery.form.js'
  =# javascript_include_tag 'jquery.idTabs.min.js'

  = csrf_meta_tag
  = yield :head
